---
layout: default
title: Work
---

<section>
	{% for post in site.categories['work'] %}
	<article class="work {%cycle 'left', 'right'%}">
		<div>
			<h2>{{post.title}}</h2>
			<h4>{{post.type}}</h4>
		</div>
		<img src="{{post.image}}"/>
		{{ post.excerpt }}
		{% if post.content > post.excerpt %}<a href="{{ site.baseurl }}{{ post.url }}" class="read-more"><span>Read More</span></a>{% endif %}
		{% if post.site_url %}<a href="{{post.site_url}}" class="view-project"><span>View Project</span></a>{% endif %}
		{% if post.github %}<a href="{{post.github}}" class="see-code"><span>See Code</span></a>{% endif %}
	</article>
	{% endfor %}
</section>

